Clarify backward combability for the new RTL mode

After discussion with Netmod WG experts it is confirmed that the changes proposed in PR #10 will not break any existing client implementation based on RFC8561 but they are not backward compatible, according to the rules defined in section 11 of RFC7950, and that there are no alternatives to meet the rules defined in section 11 of RFC7950

Need to clarify this in the I-D text


Closed, there is a choice for the configuration so backward compatibility is not effected.