air-interface:maintenance-timer

In the excel spreadsheet line 100 is documented that the ONF air interface supports an integer to configure a maintenance window in seconds.

```
  |  +--rw air-interface:maintenance-timer?                  int32
```

**Proposed solution**

Add in the augmentation to the ietf-interface the following yang leaf:

```
    leaf maintenance-timer-duration {
      type uint32;
      units "s";
      default "0";
      description
        "Maintenance Feature: The duration of existence for any maintenance configuration, such as the loopback feature. A value of '0' indicates that the maintenance timer is deactivated. ";
    }
```

It seams that [RFC8533](https://datatracker.ietf.org/doc/html/rfc8533) does not cover - and maybe even should not cover, when looking to [RFC7276](https://www.rfc-editor.org/rfc/rfc7276) - the requested functionality. 

Therefore an update of [RFC8561](https://datatracker.ietf.org/doc/rfc8561/) is proposed. 



Is this only for info, or is the system expected to do roll-back of any configurations at the end of the maintenance interval? In that case, how do you specify which configurations to roll-back? 

**2025-01-30 Weekly Call**

Alternative solution could be to define an action to set the interface in maintenance mode, configuring the duration of the maintenance window

As a consequence of this action, the operational DS can report whether the interface is in maintenance mode or not

Need more investigation about what the different vendors are implementing

For further discussion in the next calls


An RPC is useful to enter on maintenance mode and to define the duration but the type of the maintenance command (Tx mute, looback or other future commands) is not addressed.
On the model attributes to activate a loopback or disable the Transmitter are already there.
My proposal is to add only an attribute to define the duration of the maintenance command (loopback , Tx disable) and an other one to report the activation date.
Once the duration expires the maintenance command is removed automatically (if not already done manually).
The rool-back , mentioned by Jonas on a previous comment, is related to the removal of the maintenance command (onle one at each time).
The proposal could be as in the following:

augment /if:interfaces/if:interface:
       [...]
       +--rw timer-duration?   uint32
       +--ro activation-date?   date-and-time

The schedule draft is now at version -10.  The link to datatracker: https://datatracker.ietf.org/doc/draft-ietf-netmod-schedule-yang/
