Interaction with ieee-dot1q-bridge model, when microwave is used as VLAN bridge

During the [4th mWT plugtest](https://wiki.plugtests.net/mWT-Plugtests-Programme/index.php?title=12th_call_for_4th_mWT_Plugtests), we see there were a challenge between our `ietf-microwave-radio-link` module and the model involved in the Bridging logic, the `ieee-dot1q-bridge` module. That relates to framework described in RFC8432.

The ieee-dot1q-bridge model can perform bridging between ethernet interfaces only (those with "type": "ianaift:ethernetCsmacd"). Not Microwave (neither thoses "type" are "ianaift:microwaveCarrierTermination" nor "ianaift:microwaveRadioLinkTerminal  "). That is caused by a `when` cause of the `ieee-dot1q-bridge`.

The resulting stack: "virtual Ethernet" over the RadioLinkTerminal over the CarrierTermination (see diagram below). I am calling "virtual Ethernet" as opposed as real 802.3 interfaces (which really cares about duplex, negotiation, etc...).

That introduce 2 challenges:
- The "virtual Ethernet" interface implements the `ieee802-ethernet-interface` module, with leaves of `<negotiation-status>`, `<duplex>`, `<speed>` and other physical parameters which are meaningless because that layer is virtual.
- That also adds a new "virtual Ethernet" interface in the configuration and data: We need to model the relation netween "virtual Ethernet" and RadioLinkTerminal. During the plugtest, it was decided to be "internal mapping" on 12th call and each vendors provided the interface <name> and <port-ref> to the script.

![EthernetMicrowave](https://github.com/samans/draft-ybam-rfc8561bis/assets/118449612/1e426439-b033-45bf-8b7d-92eb6f279e3d)

Few questions I wonder:
- Are we still comfortable with that?
- How can we known which "virtual Ethernet" corresponds to a microwaveRadioLinkTerminal? And the other way around?
- Do we have the same challenge if a Microwave equipment is performing IP routing instead of Ethernet bridging?

Please, tell me is there is anything wrong or incomplete with my interpretation of the challenge.

References:
- [ieee802-dot1q-bridge](https://github.com/YangModels/yang/blob/main/standard/ieee/published/802.1/ieee802-dot1q-bridge.yang)
- [ieee802-ethernet-interface](https://github.com/YangModels/yang/blob/main/standard/ieee/published/802.3/ieee802-ethernet-interface.yang)
- ["Figure 1: Relationship between Interfaces in a Node" page 4 of RFC8432](https://datatracker.ietf.org/doc/html/rfc8432#page-4)
- [Minutes of meeting of the 12th call for 4th mWT Plugtests](https://wiki.plugtests.net/mWT-Plugtests-Programme/index.php?title=12th_call_for_4th_mWT_Plugtests#Actions_points_from_the_last_meeting)

The paragraph of the RFC8432 that is related to the ietf mw interface hierarchy is the following one:

_“The relationship/connectivity between interfaces
   could be given by the physical equipment configuration.  For example,
   the slot where the Radio Link Terminal (modem) is plugged in could be
   associated with a specific Ethernet port due to the wiring in the
   backplane of the system, or it could be flexible and therefore
   configured via a management system or controller.”_

So, RFC8432 framework, indicates 2 alternatives, a fixed one and a flexible / configurable one.

When the relationship between the ethernet interface and the mw RLT interface is based on the Physical Equipment configuration, eg mwaveX ethernet port is a backplane port or an internal connection to the RLT-X port of the Radio Unit or Radio module then this is a fixed hw association.

I do not think that this Ethernet Interface, that is connected to the RLT interface in this way , is a virtual Ethernet port.  It can be a real Ethernet port (ethernetCsmacd type) with a specific MAC address of its own and all other attributes configured.
It can be an ethernet interface at forced-mode (autoneg is disabled – it gets speed as the highest capacity of the traffic flow,  that is intended to be conveyed through radio).
This ethernet interface can be used either as bridged or as routed port.

So at this first alternative way indicated at RFC8432, there is no need of modelling of the relationship between the ethernet port of the RFC8432 interface hierarchy and the RLT interface, but instead a HW fixed association exists. I.e. mwave1 eth port  (let's name it so) is fixed to be connected to rlt1 etc.

What needs some further modelling at RFC8561 to my opinion, is the 2nd alternative indicated at RFC8432, i.e.

_“…or it could be flexible and therefore
   configured via a management system or controller”_

This alternative needs a configurable association in the model, that will indicate which ethernet port should be connected to a specific RLT port.
I assume that this alternative needs some kind of multiplexer in the system that can change connections between internal ethernet ports and rlt ports of the Radio Units / Radio Modules of the system.
Furthermore, there may be cases of separate Base Units systems in the network with Ethernet ports and  separate Radio Units systems with RLT ports, used to connect them to their corresponding Base Unit systems and these connections are the ones that are managed by a manager or a controller, indicated at RFC8432.
I have not a practical view of this alternative but I assume that we may need then to configure RLTs and Ethernet ports in a non-fixed way and this configuration / association may be missed currently from RFC8561 yang model.


I think the configuration of  RLTs and Ethernet ports in a non-fixed way is not a matter of RFC8561 yang model, but of the equipment model (RFC 8348 “A YANG Data Model for Hardware Management” ) and then the interfaces association could be reported on the  higher-layer-if/lower-layer-if (RFC 8343 "A YANG Data Model for Interface Management").
This is also reported on the minute of the 4th mWT Plugtest mentioned by Jean:

_"..it’s an internal mapping that can be represented in high-layer-if and lower-layer-if relationships attributes (of ietf-interfaces model)."_

But I let everyone discuss about this point.

The not-hardwired relationship of interfaces, described at RFC8432 (“…flexible and therefore configured via a management system or controller”) may be configured through the Equipment Model (RFC8438) by setting a read-write node of the model. In this model, to my understanding, the only relevant leaf for such a configuration is the leaf “parent” :

        leaf parent {
          type leafref {
            path "../../component/name";
            require-instance false;
          }
          description
            "The name of the component that physically contains this
             component.

             If this leaf is not instantiated, it indicates that this
             component is not contained in any other component.

            In the event that a physical component is contained by
             more than one physical component (e.g., double-wide
             modules), this node contains the name of one of these
             components.  An implementation MUST use the same name
             every time this node is instantiated.";
          reference
            "[RFC 6933](https://datatracker.ietf.org/doc/html/rfc6933): Entity MIB (Version 4) - entPhysicalContainedIn";
        }

Note however that the relationship described at RFC8432 between “Ethernet port” and “Radio Link Terminal” is not a contained-in or parent-child relationship, that can fit exactly to the “parent” leaf of the Equipment Model. It is more likely to describe the relationship of these interfaces as a relationship of peer interfaces.

At the RFC8343 interfaces model, the leaf-lists higher-layer-if and lower-layer-if, are read-only nodes, that can be used just to show the interfaces relationships (as it has been mentioned by Daniela too).
Besides this, the RFC8343 has the following relevant statement:

“   While the interface layering is configured in interface-type-specific
   models, two generic state data leaf-lists, "higher-layer-if" and
   "lower-layer-if", represent a read-only view of the interface
   layering hierarchy.”

This issue was mentioned during the [YANGsters meeting in IEEE](https://1.ieee802.org/yangsters-electronic-meeting-agenda-october-24-2023/). Similar issue may appears in other technologies which act as Ethernet bridges: Ethernet-over-OTN and FlexE (is there Ethernet inside Tunnel interfaces?).

IEEE prefers to avoid increasing the `when` to include our `ianaift:microwaveRadioLinkTerminal`.
The proposal was to not modify the `ieee-dot1q-bridge` module and keep the [`when` clause as it is now](https://github.com/YangModels/yang/blob/bb8269aa263e0564ba475fffc4c3174f8994f2b6/standard/ieee/draft/802.1/Qcw/ieee802-dot1q-bridge.yang#L1141) (4 interfaces types).
Our `ianaift:microwaveRadioLinkTerminal` may inherit from `ianaift:ethernetCsmacd` in order to accommodate the `when` clause. That enables the bridge to use it.

```yang
  identity microwaveRadioLinkTerminal {
    base ethernetCsmacd;
    description
      "radio link interface for one or several aggregated microwave carriers.";
    reference
      "RFC XXXX - A YANG Data Model for Microwave Radio Link";
  }
```
Most of the leaves of the `ianaift:ethernetCsmacd` will be irrelevant: `auto-negotiation`, `speed`, `flow-control`, ...
It was said that "It's not unusual to have irrelevant leaves in models."

I am also asking to my Orange colleagues if we have another option. 

           +--ro higher-layer-if*            interface-ref
           +--ro lower-layer-if*             interface-ref

The attributes above are read-only and cannot be configured via the NBI.
The question is if it needs to be, or if these attributes can be set by the system itself, when the RLT is created, given by the HW configuration.
The type of the interface can however be configured.

Hello
It seems to me that there is no need to augment the RLT interface to be
specified as bridge port.
The RLT interface is not a bridge port and we do not need to consider it as
bridge port.
There is no Bridging to the RLT port itself actually but to the Ethernet
port that is the peer interface of the RLT interface.
I.e . to the Ethernet port, that we want to specify alternatively (as
mentioned in the RFC8432) in some non-fixed way its association to the RLT
interface and not only
in a hardwired way.
There is only a cross-connection between the Ethernet port and the RLT
interface and this is what is needed to be configured.

I think that this issue has been discussed  due to the RFC8432 statement
that follows (see bold letters):

"the slot where the Radio Link Terminal (modem) is plugged in could be
   associated with a specific Ethernet port due to the wiring in the
   backplane of the system,
*or it could be flexible and therefore   configured via a management system
or controller.*"

If we want to realize this cross-connection in a non-fixed way then I
assume that the Element should have the
HW capability to support the flexible configuration of RLT and Ethernet
Port, eg  be configured to connect the
RLT1 to either EthPort1 or EthPort2 etc.
However this connection is not through the Bridge instance of the Element
to my understanding.

Anyway, it is clear that reading this association of Ethernet port and its
peer RLT interface can be done by means of :

       +--ro higher-layer-if*            interface-ref
       +--ro lower-layer-if*             interface-ref

Now the configuration of this association to be flexible, may be
finally not a point to be standardized
but finally related to specific Element HW capabilities.

BEST REGARDS
Theodoros Kallimanis
Principal Engineer (Systems & SW)
Department SSD
______________________________________
Intracom Telecom
19.7 km Markopoulou Ave., Peania, GR 19002
Building A3, 2nd floor
t:   +30 2106671961
f:   +30 2106671446
m: +30 6941636679
***@***.***
www.intracom-telecom.com







Στις Πέμ 16 Νοε 2023 στις 12:40 μ.μ., ο/η JonasAhl ***@***.***>
έγραψε:

>        +--ro higher-layer-if*            interface-ref
>        +--ro lower-layer-if*             interface-ref
>
> The attributes above are read-only and cannot be configured via the NBI.
> The question is if it needs to be, or if these attributes can be set by
> the system itself, when the RLT is created, given by the HW configuration.
> The type of the interface can however be configured.
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/samans/draft-ybam-rfc8561bis/issues/19#issuecomment-1814190960>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAS3DVKDDGP7M3VFJGXAVD3YEXUS5AVCNFSM6AAAAAA347MZ26VHI2DSMVQWIX3LMV43OSLTON2WKQ3PNVWWK3TUHMYTQMJUGE4TAOJWGA>
> .
> You are receiving this because you commented.Message ID:
> ***@***.***>
>


IEEE 802.1 will not add more iftypes to the when statement for the interface augmentation.
Suggest (if desired) to add an informative appendix with instructions on how to augment the Interfaces table.

two options:
1) Add a new ianaift (called microwaveRadioLinkTerminalBridged) that is for bridged microwaveRadioLinkTerminal (do this in the iana module, or in our module)
2) Update ianaift in iana to add the base of Bridge to the microwaveRadioLinkTerminal Identity.
3) Add a new identity to our module that is called microwaveRadioLinkTerminalBridged with base of Bridge.
4) create a new module or container in the existing rlt module that ties the microwaveRadioLinkTerminal interface to a bridge port.

AI:  determine the process to update the iana module with the solution from bullet 2 above.  Then report back.

I agree with the comment from Jonas:

https://github.com/samans/draft-ybam-rfc8561bis/issues/19#issuecomment-1814190960

There are no gaps if the configuration of the virtual ETH interface setup over an RLT interface is provided by the system. The system can instantiate an virtual ETH interface (type = 'ianaift:ethernetCsmacd') and an RLT interface (type = 'ianaift:microwaveRadioLinkTerminal') and provide the association between them using the `higher-layer-if` and `lower-layer-if` leaves, as defined in RFC8343.

There is a gap only in the case where the client needs to configure  virtual ETH interface setup over an RLT interface because the `higher-layer-if` and `lower-layer-if` leaves, as defined in RFC8343, are read-only.

From my notes taken during the call with IEEE, I have taken a look at this I-D [draft-ietf-netmod-intf-ext-yang-12](https://datatracker.ietf.org/doc/html/draft-ietf-netmod-intf-ext-yang-12) and noted that the following attribute could be useful to address this gap:

```
module: ietf-if-extensions
  augment /if:interfaces/if:interface:
    +--rw parent-interface if:interface-ref {sub-interfaces}?

```

The only concern is that, in the current YANG model, there is a when statement which is not allowing us to use this attribute with 'ianaift:ethernetCsmacd' interfaces:

```
  /*
   * Add generic support for sub-interfaces.
   *
   * This should be extended to cover all interface types that are
   * child interfaces of other interfaces.
   */
  augment "/if:interfaces/if:interface" {
    when "derived-from(if:type, 'sub-interface') or
          derived-from-or-self(if:type, 'ianaift:l2vlan') or
          derived-from-or-self(if:type, 'ianaift:atmSubInterface') or
          derived-from-or-self(if:type, 'ianaift:frameRelay')"  {
      description
        "Any ianaift:types that explicitly represent sub-interfaces
         or any types that derive from the sub-interface identity.";
    }
    if-feature "sub-interfaces";

    description
      "Adds a parent interface field to interfaces that model
       sub-interfaces.";
    leaf parent-interface {

      type if:interface-ref;

      mandatory true;
      description
        "This is the reference to the parent interface of this
         sub-interface.";
      reference "RFC XXXX, Section 2.6 Sub-interface";
    }
  }

```

 However, looking at the comment, it seems worthwhile removing the `when` statement to cover any interface type which can potentially be a child interface of other interfaces:

```
   * This should be extended to cover all interface types that are
   * child interfaces of other interfaces.

```

My proposal is to propose Netmod WG to remove the `when` statement and, if the proposal is accepted, to use this model to resolve this gap


> Most of the leaves of the `ianaift:ethernetCsmacd` will be irrelevant: `auto-negotiation`, `speed`, `flow-control`, ... It was said that "It's not unusual to have irrelevant leaves in models."
> 
> I am also asking to my Orange colleagues if we have another option.

Let's review one by one
 
### Autonegotiation

Also not all the 802.3 interfaces support auto-negotiation. The IEEE YANG model defines the `auto-negotiation` as a presence container:

https://github.com/YangModels/yang/blob/398d5f579fd281a812226450c44fb1566fc18d3d/standard/ieee/published/802.3/ieee802-ethernet-interface.yang#L146-L149

This container must not be present for virtual ETH interfaces setup over an RTL interface.

The IEEE 802.3 YANG model also describes the behavior to be implemented if the auto-negotiation is configured for an interface that does not support auto-negotiation:

https://github.com/YangModels/yang/blob/398d5f579fd281a812226450c44fb1566fc18d3d/standard/ieee/published/802.3/ieee802-ethernet-interface.yang#L188-L189

This requirement also applies to virtual ETH interfaces setup over an RTL interface.

Within the `capabilities` container, the system must report to the client that auto-negotiation is not supported by the virtual ETH interfaces setup over an RTL interface.

### Duplex

My understanding is that virtual ETH interfaces setup over an RTL interface are always full duplex.

If this is the case, this attribute can always be set to 'full' and any configuration ignored.

IMHO, it would be nice to have some other leaf (e.g., within the `capabilities` container) reporting to the client the duplex modes supported by a given ETH interface. We might discuss this with IEEE people since this would be useful also for 802.3 interfaces.

### Flow Control

My understanding is that virtual ETH interfaces setup over an RTL interface do not support any 802.3 flow control mechanism.

Flow control attributes are defined under a couple of features so it is quite straightforward not to support them if they are not supported by all the Ethernet interfaces (including all the local 802.3 ETH interfaces) on the system.

If instead, flow control mechanisms are supported for some local 802.3 ETH interfaces, the features must be supported by the system.

In this case, the configuration of the flow control mechanisms can be always disabled and any configuration ignored.

IMHO, it would be nice to have some other leaf (e.g., within the `capabilities` container) reporting to the client the flow control supported by a given ETH interface. We might discuss this with IEEE people since this would be useful also for 802.3 interfaces.

### Statistics

All the counters are defined as optional RO attributes. The system can report only the counters which are supported.

[Comment 1895580348](https://github.com/samans/draft-ybam-rfc8561bis/issues/19#issuecomment-1895580348): 
> My proposal is to propose Netmod WG to remove the `when` statement and, if the proposal is accepted, to use this model to resolve this gap

One of the 4 proposals from @samans is to change/add the base of our microwaveRadioLinkTerminal identity (see [comment 1886882213](https://github.com/samans/draft-ybam-rfc8561bis/issues/19#issuecomment-1886882213)). All of the proposition assume that IEEE will not change the ieee802-dot1q-bridge module. Do we have 5 options?

In [comment 1895632354](https://github.com/samans/draft-ybam-rfc8561bis/issues/19#issuecomment-1895632354) "Let's review one by one": I understand that the first challenge (I mentionned on top) does not exist and that you are confortable with the diagram. Is that correct?

Therefore, the only point to takle is the creation of this association "virtual Eth" <=>RTL (because high-layer-if and lower-layer-if are read-only). Correct?

Following this morning meeting, I belive that issue can be closed. The 3 questions are replied:
- Yes, we are confortable with.
- The controller know the relation which "virtual Eth" corresponds to which microwaveRadioLinkTerminal, using high-layer-if and lower-layer-if leaf-lists.
- If a microwave equipement act as an IP router, "virtual Eth" will be implemented with type as ianaift:ethernetCsmacd and perform IP routing & forwarding on it (so, there is the 3 same layers: VirtualEth, RTL, CT).

As a side effect, both the "virtual Eth" and a real Ethernet 802.3 will be represented using ianaift:ethernetCsmacd.

Thanks for the update.

Στις Πέμ, 18 Ιαν 2024, 4:59 μ.μ. ο χρήστης jrebiffe <
***@***.***> έγραψε:

> Following this morning meeting, I belive that issue can be closed. The 3
> questions are replied:
>
>    - Yes, we are confortable with.
>    - The controller know the relation which "virtual Eth" corresponds to
>    which microwaveRadioLinkTerminal, using high-layer-if and lower-layer-if
>    leaf-lists.
>    - If a microwave equipement act as an IP router, "virtual Eth" will be
>    implemented with type as ianaift:ethernetCsmacd and perform IP routing &
>    forwarding on it (so, there is the 3 same layers: VirtualEth, RTL, CT).
>
> As a side effect, both the "virtual Eth" and a real Ethernet 802.3 will be
> represented using ianaift:ethernetCsmacd.
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/samans/draft-ybam-rfc8561bis/issues/19#issuecomment-1898643117>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAS3DVPDUYO5V6HQSFMGDLLYPE2FXAVCNFSM6AAAAAA347MZ26VHI2DSMVQWIX3LMV43OSLTON2WKQ3PNVWWK3TUHMYTQOJYGY2DGMJRG4>
> .
> You are receiving this because you commented.Message ID:
> ***@***.***>
>


Based on the discussion during the call on the 18th of January, this issue will be closed.
There is work underway in the IETF that will help.  See https://datatracker.ietf.org/doc/html/draft-ietf-netmod-intf-ext-yang-12 (Interface Extensions).